<html>
  <head>
      <link rel="stylesheet" type="text/css" href="assets\css\bulma.css">
      <link rel="stylesheet" type="text/css" href="assets\css\style.css">
      <link rel="stylesheet" type="text/css" href="assets\css\lightbox.css">
      <meta name="viewport" content= "width=device-width, initial-scale=1.0"> 
  </head>
  <body>
      {% block info %}
      {% endblock %}
      <div class="container">
          {% block content %} {% endblock %}
      </div>
     
      <div class="footerss">
        <div class="content has-text-centered">
          <p>
             <strong>Website</strong> by <a href="#">Fakhri Alauddin</a>. 
          </p>
        </div>
      </div>
      <script>
           function goBack() {
           window.history.back(-1);
          }
      </script>
      {% block fotScript %}
      {% endblock %}

  </body>
</html>